.modal-close-container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.view-event-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    width: 80%;
    border: none;
    color: black;
    z-index: 10000;
  }
.owner-container {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
}
.date-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
  width: 100%;
}
.notes-container {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
}
.delete-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
.danger-button {
  width: fit-content;
  border-radius: 20px;
  border: none;
  padding: 2%;
  background-color: #8b0000;
  color: #ffffff;
  font-family: inherit;
}
.danger-button:active{
  transform: scale(.95);
}
.danger-button:hover{
  background-color: #b40202;
}