.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
}
button {
  font-family: inherit;
}
