.homepage-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 45%;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5%;
  box-sizing: border-box;
  font-family: inherit;
  color: black;
}
.big-number{
    font-size: 30px;
    color: #eb9486;
    margin: 0 10px
}
.homepage-card-text-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30%;
}

@media (min-width: 1024px) {
  .homepage-card{
    width: 80%;
    height: 40%;
  }
}