.modal-button {
  background-color: #5a7d7cff;
  padding: 1%;
  width: 10vw;
}
.modal-button:hover {
  background-color: #5a7d7cff;
}
.modal-button:active {
  transform: scale(0.95);
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7695b740;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: 90%;
  width: 90%;
  padding: 0.5%;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 10000;
}

@media (min-width: 1024px) {
  .modal-content{
    width: 60%;
    height: 80%;
  }
}
